<% layout('layouts/boilerplate') %>
  <div class="row">
    <div class="col-6 offset-3">
      <h1 class="text-center mb-3">Edit Campground</h1>
      <form action="/campgrounds/<%= campground._id %>?_method=PUT " method="post" novalidate class="validated-form"
        enctype="multipart/form-data">
        <!-- Title -->
        <div class="mb-3">
          <label for="title" class="form-label">Campground Name:</label>
          <input type="text" id="title" placeholder="Campground Name" name="campground[title]" class="form-control"
            value="<%= campground.title %> " required />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- Location -->
        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input type="text" id="location" name="campground[location]" placeholder="Campground Location"
            class="form-control" value="<%= campground.location %> " required />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <!-- Price -->
        <div class="mb-3">
          <label for="price" class="form-label">Price:</label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input type="text" id="price" class="form-control" aria-label="price" name="campground[price]"
              placeholder="0.00" value="<%= campground.price %> " required />
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        </div>
        <!-- Description -->
        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea type="text" id="description" placeholder="Description" name="campground[description]"
            class="form-control">
            <%= campground.description %>
          </textarea>
        </div>
        <!-- Image File -->
        <div class="mb-3">
          <label for="">Upload Images:</label>
          <div class="form-file custom-file">
            <input type="file" class="form-file-input" id="image" name="image" multiple />
            <label for="image" class="form-file-label">
              <span class="form-file-text custom-file-label">Choose images(s)</span>
              <span class="form-file-button">Browse</span>
            </label>
          </div>
        </div>
        <div class="mb-3">
          <% campground.images.forEach((img, i)=>{ %>
            <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
            <div class="form-check-inline">
              <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
            </div>
            <label for="image-<%=i%>">Delete?</label>
            <% }) %>
        </div>
        <div class="my-3">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
      <a href="/campgrounds/<%= campground._id %> ">Go back to campground</a>
    </div>
  </div>